@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="databox panel-body">

        <h2>@ViewBag.Title.</h2>

        <h3>
            Delivering Local Expertise Focused on Microsoft Technology and Cybersecurity
        </h3>
        <div>&nbsp;</div>
        <div class="col-md-12">
            Our story at Spyglass starts with our CEO, Tom Mrva, and his passion for helping clients succeed. Way back in 1995, Tom founded Lighthouse Computer Services as an IBM infrastructure consulting company. Tom grew the company into an IBM reseller, a top strategic partner for IBM, and an IBM Beacon Award winner in 2016 and 2018.
        </div>
        <div>&nbsp;</div>
        <div class="col-md-12">
            This success enabled Tom to sell the IBM-focused Lighthouse brand. In the sale, Tom decided to keep two of Lighthouse’s fast-growing and innovative brands—Good Dog Labs and Lighthouse MTG—and form a new company called Spyglass Solutions.
        </div>
        <div>&nbsp;</div>
        <div class="col-md-12">
            Both Good Dog Labs and Lighthouse MTG have experienced 60% year-over-year growth in the past two years and are serving over 100 clients in the Northeast. With Tom’s expertise, investment, and dedication at the helm, we are set out to continue our long tradition of success.
        </div>

    </div>
