@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="databox panel-body">
        <h2>@ViewBag.Title.</h2>
       

        <div>
            What can we help you with today?<br/>
        </div>
        <div>
            Have questions? Seeking solutions?<br />
            You’ve come to the right place. <br />
        </div>

        <address>
            <strong>Info:</strong> <a href="mailto:info@spyglasssolutions.com">info@spyglasssolutions.com</a>
            <br />
            <abbr title="Phone">P:</abbr>401-495-6888
        </address>

    </div>
</div>
