@{
    ViewBag.Title = "Home Page";
}

<div class="col-md12">&nbsp;</div>
<div class="row equal">

    <div class="col-md-3">
        <div class="proxbox panel">
            <div class="panel-heading ">
                <h2>
                    Proximity
                </h2>
            </div>
            <div class="panel-body ">
                <ul>
                    <li>Headquarters: Lincoln, RI</li>
                    <li>Offices in RI & TX</li>
                    <li>120+ Consultants</li>
                    <li>Reduced travel with majority local consulting model</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel expbox">
            <div class="panel-heading ">
                <h2>
                    Experience
                </h2>
            </div>
            <div class="panel-body ">
                <ul>
                    <li>
                        New name, not new company
                    </li>
                    <li>
                        24+ years serving the US Northeast
                    </li>
                    <li>
                        Dedicated team with &lt;5% attrition Innovation and R&D help us attract the best and brightest
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel exprbox">
            <div class="panel-heading ">
                <h2>
                    Expertise
                </h2>
            </div>
            <div class="panel-body ">
                <ul>
                    <li>
                        20+ years average experience for consultants
                    </li>
                    <li>
                        10 Active Microsoft Gold and Silver Competencies
                    </li>
                    <li>
                        Delivering the first IAM Microservices driven Platform
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel focbox">
            <div class="panel-heading ">
                <h2>
                    Focus
                </h2>
            </div>
            <div class="panel-body ">
                <ul>
                    <li>
                        Focused on two growth areas: Microsoft Technology and Cybersecurity
                    </li>
                    <li>
                        Microsoft Gold Partner for over 15 yrs
                    </li>
                    <li>
                        Pioneers in the Identity Access and Governance Space
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
